{% extends "webpage/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>MEET OUR TEAM</h1>
    <div class="peopleitems">
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/rithu.jpeg" alt="people image">
            </div>
            <div class="peoplename">RITHANIEPRIYANKA</div>
            <div class="peopledesig">Director</div>
        </div>
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/aishu.jpeg" alt="people image">
            </div>
            <div class="peoplename">AISHU</div>
            <div class="peopledesig">Managing Director</div>
        </div>
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/prithu.jpeg" alt="people image">
            </div>
            <div class="peoplename">PRITHU</div>
            <div class="peopledesig">Asst.Managing Director</div>
        </div>
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/prawin.jpeg" alt="people image">
            </div>
            <div class="peoplename">PRAWIN</div>
            <div class="peopledesig">Team Leader</div>
        </div>
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/ashwin.jpeg" alt="people image">
            </div>
            <div class="peoplename">ASHWIN</div>
            <div class="peopledesig">Team Leader</div>
        </div>
        <div class="peopleitem">
            <div class="peopleimage">
                <img src="/static/img/manoj.jpeg" alt="people image">
            </div>
            <div class="peoplename">MANOJ</div>
            <div class="peopledesig">Team Leader</div>
        </div>
    </div>
</div>
{% endblock  %}