{% extends "webpage/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c2.jpg" alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/modem.jpg" alt="product image">
            </div>
            <div class="itemname">650IN Wireless N300 Router</div>
            <div class="itemprice">Price: Rs.1999.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/hotspot.jpg" alt="product image">
            </div>
            <div class="itemname">N150 Wireless Network Adapter for Desktop</div>
            <div class="itemprice">Price: Rs.499.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/socketswitch.jpg" alt="product image">
            </div>
            <div class="itemname">WiFi Socket Switch Plug for<br />LDR light sensor module for DIY</div>
            <div class="itemprice">Price: Rs.2999.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/sensoroptical.jpg" alt="product image">
            </div>
            <div class="itemname">LM393 Optical Photosensitive<br /> smart devices</div>
            <div class="itemprice">Price: Rs.350.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/memorychip.jpg" alt="product image">
            </div>
            <div class="itemname">Memory chip<br /> 16GB</div>
            <div class="itemprice">Price: Rs.299.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/dustsensor.jpg" alt="product image">
            </div>
            <div class="itemname">REES52 GP2Y1010AU0F Compact Optical<br />Dust Sensor Smoke Particle Sensor</div>
            <div class="itemprice">Price: Rs.599.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/dongle.jpg" alt="product image">
            </div>
            <div class="itemname">WiFi Display Dongle | DLNA Airplay | Wireless<br /> HDMI HD Screen Mirroring WiFi
                Adaptor</div>
            <div class="itemprice">Price: Rs.1899.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/satahdd.jpg" alt="product image">
            </div>
            <div class="itemname">Toshiba 500 GB 2.5" Inch<br />Laptop SATA Internal Hard Disk Drive</div>
            <div class="itemprice">Price: Rs.2500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/satacable.jpg" alt="product image">
            </div>
            <div class="itemname">15cm 4Pin Molex to SATA Power Cable<br />Adapter for Internal Hard Disk Drive, HDD,
                SSD & DVD Writer<br />(Pack of 2 Pieces)</div>
            <div class="itemprice">Price: Rs.200.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/thermostat.jpg" alt="product image">
            </div>
            <div class="itemname">W1209 50~100 digital<br />temperature controller thermostat</div>
            <div class="itemprice">Price: Rs.300.00 </div>
        </div>
    </div>
</div>
{% endblock  %}